.pure-button
    inline-block()
    line-height: normal
    white-space: nowrap
    vertical-align: baseline
    text-align: center
    cursor: pointer
    -webkit-user-drag: none // Specifies whether the element is draggable
    user-select(none) // Exclude from selection

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner
    padding: 0
    border: 0
