/**
 * Navs include:
 *     tab
 *     pills
 */
.pure-nav
	margin-left: 0
	padding-left: 0
	margin-bottom: baseLineHeight
	list-style: none

.pure-nav-tabs,
.pure-nav-pills
	@extends $clearfix
	> li
		float: left
		> a
			display: block
			padding: 0.8em 1em
			text-decoration: none

// style 1: All tab have border
// style 2: Only active tab have border
// default: style 1
.pure-nav-tabs
	border-bottom: 1px solid tabBorder
	// style 1
	border-left: @border-bottom
	> li
		margin-bottom: -1px
		> a
			// style 2
			// align with active > a
			// border: 1px solid transparent

			// style 1
			border-top: 1px solid tabBorder
			border-right: @border-top
	.active
		> a
			// Make border transparent work
			background-color: #FFF
			// style 2
			// border: 1px solid tabBorder
			border-bottom-color: transparent

.pure-nav-pills
	border-left: 1px solid tabBorder
	> li
		> a
			border: 1px solid tabBorder
			border-left: none
			&:hover
				background: lighten(tabBorder, 50%)
	.active
		> a
			background: lighten(tabBorder, 30%)
