// Grids
PREFIX = pure-
ROW = g
UNIT = u

// Max colomns recommended: 16
COLUMNS = 12

// base
baseBorderRadius = 4px
baseLineHeight = 1em

// buttons
buttonPrimaryTextColor = #FFF
buttonPrimaryBackground = #0078E7
buttonDefaultBackground = #E6E6E6
buttonRadius = 2px

// forms
inputDisableBackground = #eaeded
inputDisableColor = #cad2d3
inputBorder = #ccc

// tables
tableBorder = #cbcbcb
tableHeadBackground = #e0e0e0

// navs
tabBorder = #ddd

// tooltips
tipBorderWidth = 10px
tipBorderColor = #CCC
tipBackground = #FFF


// wells
wellBackground = #FCF9F9