// Grids
PREFIX = pure-
ROW = g
UNIT = u

// Max colomns recommended: 16
COLUMNS = 12

// buttons
buttonPrimaryTextColor = #FFF
buttonPrimaryBackground = #0078E7
buttonDefaultBackground = #E6E6E6
buttonRadius = 2px