// Grids
PREFIX = pure-
ROW = g
UNIT = u

// Max colomns recommended: 16
COLUMNS = 12

// base
baseBorderRadius = 4px
baseLineHeight = 1em

// fonts
yaheiFontFamily = 'Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei,sans-serif'
baseFontFamily = yaheiFontFamily
baseFontSize = 12px

// colors
mainColor = #E82D8E
grayColor = #CCC
linkColor= #D54C90
linkColorHover = darken(linkColor, 20%)

// buttons
buttonPrimaryTextColor = #FFF
buttonPrimaryBackground = #0078E7
buttonDefaultBackground = #E6E6E6
buttonRadius = 2px

// forms
inputDisableBackground = #eaeded
inputDisableColor = #cad2d3
inputBorder = #ccc

// tables
tableBorder = #cbcbcb
tableHeadBackground = #e0e0e0

// navs
tabBorder = #ddd

// tooltips
tipBorderWidth = 10px
tipBorderColor = #CCC
tipBackground = #FFF


// wells
wellBackground = #FCF9F9

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
zindexDropdown = 1000
zindexPopover = 1010
zindexTooltip = 1030
zindexFixedNavbar = 1030
zindexModalBackdrop = 1040
zindexModal = 1050